<!DOCTYPE html>
<html ng-app="Shyne">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shyne</title>
  <meta name="description" content="Talk to people that work at companies you're interested in. Schedule a call with any of our Advisors in just minutes.">

  <!-- Google+ -->
  <meta itemprop="name" content="Shyne - Get personalized career advice. Quickly."/>
  <meta itemprop="description" content="Talk to people that work at companies you're interested in. Schedule a call with any of our Advisors in just minutes."/>
  <meta itemprop="image" content="http://www.shyne.io/assets/share.png"/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta property="twitter:site" content="@shyneinc" />
  <meta name="twitter:title" content="Shyne - Get personalized career advice. Quickly.">
  <meta name="twitter:description" content="Talk to people that work at companies you're interested in. Schedule a call with any of our Advisors in just minutes."/>
  <meta name="twitter:image:src" content="http://www.shyne.io/assets/share.png"/>
  <meta name="twitter:domain" content="http://www.shyne.io/"/>

  <!-- Facebook -->
  <meta property="og:title" content="Shyne - Get personalized career advice. Quickly."/>
  <meta property="og:description" content="Talk to people that work at companies you're interested in. Schedule a call with any of our Advisors in just minutes."/>
  <meta property="og:image" content="http://www.shyne.io/assets/share.png"/>

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800|Open+Sans+Condensed:300,700|Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render "/layouts/analytics" %>
  <%= render "/layouts/uservoice" %>
</head>
<body>
<div id="wrap" ng-view></div>
<%= javascript_include_tag "application" %>
</body>
</html>
